/* src/app/globals.css */
@font-face {
  font-family: "Grotesk";
  src: url("/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GroteskBold";
  src: url("/fonts/SpaceGrotesk-Bold.ttf") format("truetype");
}

@import "tailwindcss";

* {
  box-sizing: border-box;
}

html { scroll-behavior: smooth; }

body {
  background-color: var(--color-Tertiary);
  background-repeat: repeat;
  background-size: 500px 500px;
  font-family: var(--font-Grotesk);
}

@theme {
  --font-Grotesk: "Grotesk", sans-serif;
  --font-GroteskBold: "GroteskBold", sans-serif;
  --breakpoint-xs: 20rem;
  --color-Primary: #AB2229;
  --color-Secondary: #111827;
  --color-Tertiary: #ffffff;

    --animate-popUp: popUp 0.3s ease-in-out;
  @keyframes popUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    80% {
      opacity: 1;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}